.backgroundShapes{
    position: absolute;
    top: 0;
    left: 0;
}
.backgroundShapes svg > circle,
.backgroundShapes svg > path {
    stroke: #fec921 !important;
    stroke-opacity: 0.5 !important;
}
